.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    &--header {
            color: $brand-color-black;
        }
    &--footer {
        color: $brand-color-white;
    }
    &--color {
        color: $brand-color-blue;
    }

}