.lorem {
    padding-bottom: 0;

    &__icon {
            margin-bottom: 30px;
            width: 270px;
            height: 120px;
            background-color: $brand-background-lorem;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon-size {
            width: 70px;
            height: 70px;
        }
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.1429;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
        &__text {
            line-height: 1.714;
            color: $brand-color-grey;
        }
}