.offer {
    text-align: center;

    &__item {
            display: inline-block;
            /* margin-right: 20px; */
            position: relative;
        }
        &__item>img {
            display: block;
        }
        &__description {
            background-color: rgba(47, 48, 58, 0.8);
            color: $brand-color-white;
            /* font-size: 14px; */
            font-weight: 700;
            height: 70px;
            /* padding: 27px 0; */
            width: 370px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}