.order {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    background-color: $brand-background-dark;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    padding: 200px 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.3636;
            color: $brand-color-white;
            letter-spacing: 0.06em;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 696px;
        }
        &__button {
            color: $brand-color-white;
            background-color: $brand-color-blue;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.06em;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            border-radius: 4px;
            padding: 10px 42px;
            /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        }
}