.section {
    padding: 94px 0;
    
    &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1667;
            letter-spacing: 0.03em;
            text-align: center;
            margin-bottom: 50px;
        }
}