    $brand-color-blue: #2196F3;
    $brand-color-black: #212121;
    $brand-color-grey: #757575;
    $brand-color-white: #FFFFFF;
    $brand-footer-color-grey:rgba(255, 255, 255, 0.6);
    $brand-background-dark: #2F303A;
    $brand-background-main: #E5E5E5;
    $brand-background-team: #F5F4FA;
    $brand-header-border: #ECECEC;
    $brand-icons-grey: #AFB1B8;
    $brand-background-lorem: #F5F4FA;
    $brand-footer-background-socials: rgba(255, 255, 255, 0.1);